<p>What is the size of your square?</p>

<form action="/size-input" method="post">
  <input type="text" name="square_size" id="square_size">

  <input type="submit" value="Submit" id="submit_size">
</form>
